<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <p><%= data %></p>
    <ul>
        <% if(messages.length){ %>
            <% messages.forEach(function(message) { %>
                <li><%= message.date %>: <strong><%= message.username %></strong> - <%= message.message %></il>
            <% }); %>
        <% }; %>
    </ul>
    <% images.forEach(function(imageLink) { %>
        <img src=<%= imageLink.img %> alt=<%= imageLink.alt %>>
        <br>
    <% }); %>
</body>
</html>