<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <p><%= data %></p>
    <% if(messages.length){ %>
        <li>
            <% messages.forEach(function(message) { %>
                <ul><%= message.date %>: <strong><%= message.username %></strong> - <%= message.message %></ul>
            <% }); %>
        </li>
    <% } %>
    <% images.forEach(function(imageLink) { %>
        <img src=<%= imageLink.img %> alt=<%= imageLink.alt %>>
        <br>
    <% }); %>
</body>
</html>